
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h1 class="page-header">{{member.name}}</h1>
            <table class="table table-striped">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <th>Team</th>
                        <td>{{member.team}}</td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td>{{member.role}}</td>
                    </tr>
                    <tr>
                        <th>Office Email</th>
                        <td><a href="mailto:{{member.officeEmail}}">{{member.officeEmail}}</a></td>
                    </tr>
                    <tr>
                        <th>Gmail</th>
                        <td><a href="mailto:{{member.gmail}}">{{member.gmail}}</a></td>
                    </tr>
                </tbody>
            </table>
            <hr/>
            <button type="button" class="btn btn-primary" ng-click="back()">Back</button>
            <a ui-sref="member.edit"><button type="button" class="btn btn-warning">Edit</button></a>

            <button type="button" class="btn btn-danger" ng-click="deleteMember()">Delete</button>
        </div>
    </div>
    <div ui-view></div>

</div>