
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-repeat="team in teams" ng-class="{'active':isTeamSelected(team)}">
                    <a ng-click="setSelectedTeam(team)">
                        <h4>{{team}}</h4>
                    </a>
                </li>
            </ul>

        </div>
        <div class="col-sm-6 col-sm-offset-3 col-md-7 col-md-offset-2 main clearfix ">
            <form class="navbar-form">
                <input type="text" class="form-control" placeholder="Search..." ng-model="query.name">
            </form>
            <h1 class="page-header">{{teamScope}} Team Members</h1>

            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="memeber in members | filter:{ team : selectedTeam } | filter:query ">
                    <div class="member-container">
                        <a href="#/member/{{memeber.id}}">
                            <span class="glyphicon glyphicon-user"></span>
                            <span>{{memeber.name}} </span>
                            <span>- ({{memeber.role}})</span>
                        </a>
                        <button type="button" class="btn btn-danger pull-right" ng-click="removeMember(memeber)">Delete</button>
                        <button type="button" class="btn btn-warning pull-right" ng-click="goEditMember(memeber)">Edit</button>
                    </div>
                </li>
            </ul>

            <hr/>

            <!-- CREATING -->
            <div ng-if="shouldShowCreating(selectedTeam)">
                <button type="button" class="btn btn-link" ng-click="startCreating(selectedTeam)">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add new member
                </button>
            </div>
        </div>
    </div>
</div>
